Django==2.1.11
wagtail==2.9.0
psycopg2==2.7.7
wagtail-django-recaptcha==1.0
django-pattern-library==0.2.3
mutagen==1.42.0
google-api-python-client==1.7.8
google-auth-oauthlib==0.3.0
google-cloud-speech==1.0.0
google-cloud-storage==1.15.0
wagtailmedia==0.5.0
django-cors-headers==2.5.3
ffmpeg-python==0.1.17
wagtail-headless-preview==0.0.4
wagtailaltgenerator==4.1.1
feedparser==5.2.1
git+git://github.com/wagtail/wagtail-review.git@0337683fbe5433dbb6c27da6486684348d96e4c2#egg=wagtail-review
git+git://github.com/gasman/wagtail-generic-chooser.git@e4946df3aae9ec22adfe4964a2dee0ddd766a8b6#egg=wagtail-generic-chooser
lxml==4.3.3
wagtail-content-import==0.3.3
wagtail-accessibility==0.2.0
wagtail-marketing-addons==0.4.1
# Pinned because pip cannot handle proper dependency resolution between the packages that require urllib3
# (elasticsearch, botocore, requests)
urllib3>=1.21.1,<1.25

# Production dependencies
whitenoise[brotli]==4.1.2
dj-database-url==0.5.0
raven==6.10.0
django-redis==4.10.0
django-storages[boto3]==1.7.1
django-referrer-policy==1.0
django-csp==3.5
scout-apm==2.0.2
django-basic-auth-ip-whitelist==0.2.1
django-rq==2.4
wagtail-react-streamfield==1.3.5
wagtail-quick-create==1.0.7
elasticsearch==6.3.0
wagtailfontawesome==1.1.4
wagtail-experiments==0.2
wagtail_guide==1.0.5
wagtail-nhsuk-frontend==0.4.0

# Migration
cryptography==2.6.1

requests==2.22.0
