// --------------------------------- Colors -------------------------------------
$color--white:          #fff;
$color--pink:           #fd5865;
$color--dark-blue:      #251657;
$color--blue:           #2f138d;
$color--turquoise:      #3beccd;
$color--off-black:      #141414;
$color--background:     #f2f2f2;
$color--grey:           #777;

// --------------------------------- Theme 2 (Torchbox) -------------------------------------

// --------------------------------- Theme 3 (WBGO) -------------------------------------


$color--primary:        $color--pink;
$color--secondary:      $color--blue;
$color--tertiary:       $color--dark-blue;
$color--hover:          $color--turquoise;

$color--white:          #fff;
$color--black:          #333;

$color--border:         rgba($color--black, 0.2);
$color--default:        $color--off-black;

// Button colours
$button-colours: (
    primary:    (bg: $color--primary, color: #fff),
    secondary:  (bg: $color--secondary, color: #000),
    tertiary:   (bg: $color--tertiary, color: #000),
);

// --------------------------------- Fonts --------------------------------------

$font--primary:         'Apercu Pro', Sans-Serif;
$font--secondary:       'Apercu Pro', Sans-Serif;

// Font weights
$weight--bold:          700;
$weight--semibold:      600;
$weight--medium:        500;
$weight--normal:        400;
$weight--light:         200;

// Font sizes
$base-font-size: 17px;
$base-line-height: 1.8;
$font-sizes: (
    default:    $base-font-size,
    xxl:        50px,
    xl:         30px,
    l:          21px,
    m:          18px,
    s:          16px,
    xs:         14px,
    xxs:        12px
);



// --------------------------------- Breakpoints --------------------------------------
// Ensure that all breakpoints are duplicated in the gutters array

$breakpoints: (
    'mob-portrait'      '(min-width: 320px)',
    'mob-landscape'     '(min-width: 480px)',
    'tablet-portrait'   '(min-width: 768px)',
    'tablet-landscape'  '(min-width: 1024px)',
    'desktop'           '(min-width: 1280px)',
    'desktop-wide'      '(min-width: 2556px)'
);

// --------------------------------- Grid Dimensions --------------------------------------

// Wrappers
$site-width:            1300px;
$wrapper--small:        790px;

// Grid setup
$grid:                  20px;

// These should match the breakpoints array
$gutters: (
    'default':              ($grid),
    'mob-portrait':         ($grid),
    'mob-landscape':        ($grid),
    'tablet-portrait':      ($grid),
    'tablet-landscape':     ($grid * 1.25),
    'desktop':              ($grid * 1.25),
    'desktop-wide':         ($grid * 1.5)
)
    !default;


// --------------------------------- Defaults --------------------------------------

$default-transition:            0.25s ease;
$default-border-radius:         5px;
