{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <h5>{{ page.subtitle }}</h5>

    {% for enc in page.enclosures.all %}
        <object data="{{ enc.media.media_file.url }}"></object>

        {% if enc.media.transcript %}
            <h6>Speech-to-text transcript</h6>
            {{ enc.media.transcript|linebreaks }}
        {% endif %}

    {% endfor %}

    {% include "patterns/molecules/share/share.html" %}

{% endblock %}
