.author-details {
    border-top: 1px dotted $color--border;
    padding: ($grid * 2) 0;

    &__container {

    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: ($grid * 2);
        margin-bottom: ($grid / 2);
    }

    &__heading {
        @include font-size(xs);
        text-transform: uppercase;
        margin-right: ($grid / 2);
        letter-spacing: 2px;
        font-weight: 600;
        color: $color--grey;
        margin-bottom: 0;
    }

    &__info {
        @include font-size(s);
    }

}
