.logo {
    display: block;
    width: 120px;
    height: 35px;
    transition: opacity $default-transition 0s;
    margin-top: ($grid * 0.75);

    &:hover {
        opacity: 0.6;
    }

    &__image {
        width: 120px;
        height: 35px;
    }

}
