{% extends "modeladmin/choose_parent.html" %}
{% load i18n modeladmin_tags static util_tags %}

{% block content %}

{% block header %}
    {{ block.super }}
{% endblock %}

<div>

    <div class="nice-padding">
        <h2>{% blocktrans %}Choose a parent page{% endblocktrans %}</h2>
        <p>{% blocktrans with view.verbose_name_plural|capfirst as plural %}{{ plural }} can be added to more than one place within your site. Which of the following would you like to be the parent of your new page?{% endblocktrans %}</p>

        <form action="" method="post" novalidate>
            {% csrf_token %}

            <ul class="fields">
                {% include "wagtailadmin/shared/field_as_li.html" with field=form.parent_page %}
                <li>

                    {% can_import_from_google app_label model_name as can_import_from_google %}
                    <input type="submit" class="button" value="{% trans 'Create new page' %}">
                    {% if can_import_from_google %}
                    <span style="margin-left: 10px; margin-right: 10px;">or</span>
                    <input type="submit" class="button" name="google-doc-import" value="{% trans 'Import document from Google Docs' %}">
                    {% endif %}
                </li>
            </ul>
        </form>

    </div>
</div>
{% endblock %}
